.vfl1{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: whitesmoke;
    text-align: center;
    line-height: normal;
    margin:auto;
    height: 100%;
    width: 600px;
}