{% load tailwind_tags %}
{% load static %}
{% load socialaccount %}

{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% tailwind_css %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <!-- <h1>My Google OAuth Project </h1>
  {% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
  {% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
  {% endif %} -->
  <div style="text-align: center;">
    <a href="{% provider_login_url 'google' %}">
      <img src="{% static 'images/google-signin-button.png' %}" style="width: 240px;height:60px">
    </a>
  </div>

</body>

</html>